<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!--navbar-->
        <navbar>Maya</navbar>
    
    <div id="post">
        my post will be here
    </div>
    
</div>  
<script>
var post=[]
post.push("hamis")//
post.push("Jyden")
post.push("Stella")
post.push("Clark")
post.push("Hue")



let div=document.getElementById("post")
post.forEach(function(p){
div.textContent+= "     "+p;

})
</script> 
</body>
</html>